.pswp__icn-shadow {
    display: none !important;
}

.pswp__counter {
    text-shadow: none !important;
}

.photoSwipe__videoItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoSwipe__videoHolder {
    width: 100rem;
}

.photoSwipe__videoHolderInner {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    display: block;
}

.photoSwipe__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
